@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #343e45;
}

.comment {
  color: #696d75;
}

.string {
  color: #eeca4e;
}

.constant.numeric {
  color: #a6a9ee;
}

.constant.language {
  color: #a6a9ee;
}

.constant.character, .constant.other {
  color: #a6a9ee;
}

.variable {
}

.keyword {
  color: #ee5ca5;
}

.storage {
  color: #ee5ca5;
}

.storage.type {
  font-style: italic;
  color: #6dcee0;
}

.entity.name.class {
  text-decoration: underline;
  color: #eeca4e;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #a4c817;
}

.entity.name.function {
  color: #a3d53e;
}

.variable.parameter {
  font-style: italic;
  color: #ee7f17;
}

.entity.name.tag {
  color: #ee5ca5;
}

.entity.other.attribute-name {
  color: #a3d53e;
}

.support.function {
  color: #7acacb;
}

.support.constant {
  color: #7acacb;
}

.support.type, .support.class {
  font-style: italic;
  color: #7acacb;
}

.support.other.variable {
}

.invalid {
  color: #e8e8e1;
  background-color: #d54a36;
}

.invalid.deprecated {
  color: #e8e8e1;
  background-color: #a6a9ee;
}
